<div class="siedBar closeNone"  id="siedBarMenu"  >


              <div class=" sidebar-Menu">
                  
                <ul>
                    <li class="nav-title">
                            Menu
                    </li>
                    <li class="nav-item " data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="icon-event"></i> <span> Agendas <span class="pull-right">></span>  </span>
                        
                    </li>
                    <div class="collapse" id="collapseExample">
                        <div class="">
                            <ul>
                                <li><a href="#!/Agenda-do-dia" title="Agenda do Dia"> <i class="icon-arrow-right"></i> Agenda do Dia</a></li>
                                <li><a href="#" title="Pesquisa Horário Livre"> <i class="icon-arrow-right"></i> Pesquisa Horário Livre</a></li>
                                <li><a href="#" title="Agenda de Contatos"> <i class="icon-arrow-right"></i> Agenda de Contatos</a></li>
                                <li><a href="#" title="Agenda de Contatos"> <i class="icon-arrow-right"></i> Conta Corrente Paciente Carnê</a></li> 
                                
                            </ul>
                        </div>
                    </div>
                    <li class="nav-title ">
                            Relatórios
                    </li>

                        
                  
                  
                </ul>

            </div>
</div>