

<div ng-include="'view/partes/head2.html'"></div>


<!-- Main content -->


       
        <!-- Main content 
        <main class="main">-->

            
    <div class="col-md-12"  >
        <div style="width: 100%; height: 300px;" > 
           Tela inicial
         </div>

            
    </div>
            <!-- /.conainer-fluid
        </main> -->

       <!-- <footer class="footer">
            <span class="text-left">
                <a href="http://coreui.io">CoreUI</a> &copy; 2016 creativeLabs.
            </span>
            <span class="pull-right">
                Powered by <a href="http://coreui.io">CoreUI</a>
            </span>
        </footer>
        -->
